{
  "name": "$WORKFLOW_UPGRADE_ROLE_NAME",
  "description": "Upgrade IBM Business Automation Workflow to specified fixpack",
  "json_class": "Chef::Role",
  "default_attributes": {
    "ibm": {
      "fixpack_repo": "$local_ibm_fixpack_repo"
    },
    "workflow": {
      "config": {
        "node_hostnames": "$local_node_hostnames",
        "celladmin_alias_user": "$var_Workflow_cell_admin_username",
        "celladmin_alias_password": "$var_Workflow_cell_admin_userpassword"
      },
      "install_mode": "$local_Workflow_install_mode",
      "os_users": {
        "workflow": {
          "name": "$var_Workflow_baw_os_user_name",
          "gid": "$var_Workflow_baw_os_user_gid"
        }
      },
      "install_dir": "$local_Workflow_install_dir",
      "fixpack_names": "$var_Workflow_fixpack_names"
    }
  },
  "override_attributes": {
  },
  "chef_type": "role",
  "run_list": [
    "recipe[workflow::upgrade]"
  ],
  "env_run_lists": {

  }
}
