{
  "id": "secrets",
  "ibm": {
    "sw_repo_password": "$var_ibm_sw_repo_password",
    "im_repo_password": "$var_ibm_im_repo_password"
  },
  "workflow": {
    "config": {
      "celladmin_alias_password": "$var_Workflow_cell_admin_userpassword"
    }
  }
}