{
  "id": "secrets",
  "ibm": {
    "sw_repo_password": "$var_ibm_sw_repo_password",
    "im_repo_password": "$var_ibm_im_repo_password"
  },
  "ihs": {
    "admin_server": {
      "password": ""
    }
  },
  "workflow": {
    "config": {
      "deadmin_alias_password": "$var_Workflow_de_admin_userpassword",
      "celladmin_alias_password": "$var_Workflow_cell_admin_userpassword",
      "db_alias_password": "$var_Workflow_db2_instance_userpassword_config",
      "oracle": {
        "shareddb": {
          "password": "$var_Database_oracle_shareddb_userpassword"
        },
        "cellonlydb": {
          "password": "$var_Database_oracle_cellonlydb_userpassword"
        },
        "psdb": {
          "password": "$var_Database_oracle_psdb_userpassword"
        },
        "icndb": {
          "password": "$var_Database_oracle_icndb_userpassword"
        },
        "dosdb": {
          "password": "$var_Database_oracle_dosdb_userpassword"
        },
        "tosdb": {
          "password": "$var_Database_oracle_tosdb_userpassword"
        },
        "pdwdb": {
          "password": "$var_Database_oracle_pdwdb_userpassword"
        }
      },
      "ps_pc_alias_password": "$var_Workflow_ps_pc_alias_password",
      "metering": {
        "apikey": "$var_metering_apikey"
      }
    }
  },
  "db2": {
    "password": "$var_Workflow_db2_instance_userpassword",
    "fenced_password": "$var_Workflow_db2_fenced_userpassword",
    "das_password": "$var_Workflow_db2_das_userpassword"
  }
}